artifacts/
.ipynb_checkpoints/
__pycache__/
*.swp
*.pyc
.empty/
.vscode/
orion/trained_models/
data/
core.*
exported_datasets_512_by_512/
orion/notebooks/wandb/
final_models/
data*/
*.cfg
*.log
*.mar
DeepQCA_videos/
CathEF-data/
df_angle_object_rca_lca_filtered/
test.py
CathEF*
wandb/
exported_videos_512_by_512_MHI_UCSF/
*.idea/
*.pt
Denis_CathEF_PredictionInvestigation/
