artifacts/
.ipynb_checkpoints/
__pycache__/
*.swp
echonet.cfg
.echonet.cfg
*.pyc
echonet.egg-info/
.empty/
.vscode/
oread/trained_models/
data/
core.*
exported_datasets_512_by_512/
oread/notebooks/wandb/
final_models/
deepIFR/
data*/
*.cfg
*.log
*.mar
DeepQCA_videos/
CathEF-data/
df_angle_object_rca_lca_filtered/
test.py
CathEF*
wandb/
DeepIFR/
exported_videos_512_by_512_MHI_UCSF/
*.idea/
*.pt
Denis_CathEF_PredictionInvestigation/
